<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALTERAR</title>
</head>
<body>
<h1>Alterar Pessoa</h1>
<form action="#" th:action="@{/pessoa/alterar}" th:object="${pessoa}" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="text" th:field="*{id}" readonly/></td>
        </tr>
        <tr>
            <td>Nome*:</td>
            <td><input type="text" th:field="*{nome}" required/></td>
        </tr>
        <tr>
            <td>E-mail*:</td>
            <td><input type="text" th:field="*{email}" required/></td>
        </tr>
        <tr>
            <td>Fone*:</td>
            <td><input type="text" th:field="*{fone}" required/></td>
        </tr>
    </table>
    <input type="submit" value="Alterar"/>
</form>
</body>
</html>
