<!-- cadastrar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

<form th:action="@{/cadastro/save}" th:object="${cadastroDTO}" method="post">
    <label>Tipo de Entidade:</label>
    <input type="text" th:field="*{tipoEntidade}" />
    <br/>

    <label>CPF/CNPJ:</label>
    <input type="text" th:field="*{cpfCnpj}" />
    <br/>

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" />
    <br/>

    <!-- Adicione campos adicionais conforme necessário -->

    <input type="submit" value="Cadastrar" />
</form>

</body>
</html>
