<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Cadastro
            </h1>
        </div>
    </div>
</section>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#"></a>
    </div>
</nav>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <div class="form-container">
            <!-- Adiciona a URL do endpoint de destino usando Thymeleaf -->
            <form action="@{/pessoa/save}" th:object="${pessoa}" method="post">

                <form action="@{/pessoa/save}" th:object="${pessoaDTO}" method="post">

                    <div class="field">
                        <label class="label">Nome:</label>
                        <div class="control">
                            <input class="input" type="text" th:field="*{nome}" placeholder="Seu Nome" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">CPF:</label>
                        <div class="control">
                            <input class="input" type="text" th:field="*{cpf}" placeholder="Seu CPF" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Senha:</label>
                        <div class="control">
                            <input class="input" type="password" th:field="*{senha}" placeholder="Sua Senha" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Confirme a Senha:</label>
                        <div class="control">
                            <input class="input" type="password" th:field="*{confirmarSenha}" placeholder="Confirme Sua Senha" required>
                        </div>
                    </div>


                <div class="field is-grouped">
                    <div class="control">
                        <input class="button is-link" type="submit" value="Salvar">
                    </div>
                    <div class="control">
                        <button class="button is-link is-light" type="reset">Limpar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>
